* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Tahoma;
}

h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid #de8e37;
}

h2 {
    font-weight: normal;
    color: #de8e37;
    margin-top: 10px;
}

.img1 {
    width: 700px;
}

.secao-destaques {
    background-color: #de8e37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.secao-destaques h3 {
    font-size: 24px;
}

.secao-destaques h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.secao-destaques p {
    width: 500px;
    margin: 0 auto;
    line-height: 30px;
}

.secao-destaques img {
    width: 400px;
}

span {
    font-weight: bold;
}

.secao {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.logo {
    width: 200px;
}

a {
    margin: 0 10px;
    color: #542f0c;
} 
/*acredito que não precise descrever os códigos, é de fácil entendimento e está bem arrumado!*/